
.thumbnail img {
    width: 100%;
}

.thumbnail{
    padding: 0;
}

.thumbnail .caption-full{
    padding: 9px;
}

.delete-form {
    display: inline;
}

img.campground-image {
    height: 200px;
    width: 300px;
    background-size: cover;
    background-position: 50% 50%;
}

img.img-responsive{
    height: 500px;
    width: 800px;
}